body {
  background-color: #4d4966;
  color: #282828;
  font-family: 'Roboto', sans-serif;
}

#container {
  width: 70%;
  background-color: #eaeaea;
  margin: 20px auto;
  overflow: auto;
  padding: 25px;
}

header {
  text-align: center;
  border-bottom: 1px solid #282828
}

header h1 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

header p {
  font-weight: 100;
  padding: 0;
  margin-top: 5px;
}

section {
  min-height: 400px;
}

footer {
  text-align: center;
}

input[type='submit'] {
  background-color: transparent;
  border: 1px solid #4d4966;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #c9c9c9;
  transition: 2s;
}

#results {
  padding: 10px;
  margin: 10px 0;
}

#results span{
  color: #282828;
  font-weight: bold;
}
